/* Declare some variables */
/* Define Styles */
.react-search-box-dropdown {
  position: relative; }
  .react-search-box-dropdown ul {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: -11px; }

.current-page {
  font-size: 1.5rem;
  vertical-align: middle; }

.restaurant-card-container {
  height: 100px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .restaurant-card-container .no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important; }

.restaurant-name {
  font-size: 0.9rem;
  margin-bottom: 10px; }

.restaurant-region {
  font-size: 0.7rem;
  width: 100%;
  float: left; }

.restaurant-city {
  margin-bottom: 10px; }

.current-page,
.restaurant-name,
.restaurant-region {
  line-height: 1; }

/* Override some Bootstrap pagination styles */
ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  ul.pagination li.page-item.active button.page-link,
  ul.pagination li.page-item.active button.page-link {
    color: black !important;
    background-color: #e3e7eb !important;
    border-color: #ced4da !important; }
  ul.pagination button.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: black;
    font-weight: 900;
    font-size: 1rem; }
    ul.pagination button.page-link:hover, ul.pagination button.page-link:focus {
      background-color: #f4f4f4; }
